
# ignore all files and every folder
# *.*
# ./*

 // explude visual studio's solution option file
 *.suo

 // include packages folder and config file but not actual packages
 !packages/repositories.config

 // exclude bin/obj/node_modules
 Mashup.UI.Core/bin/*
 Mashup.UI.Core/obj/*
 Mashup.UI.Core/node_modules/*



