
<div>
    <style media="screen" type="text/css">
        .modal .modal-dialog {
            /* In combination with "width" sets the width of the page        */
            /* but in a way the allows the initial load to be set and        */
            /* allows the screen to be responsive when the screen is smaller. */
            /* max-width is the only thing that needs changed for new modals. */
            max-width: 1200px;
            width: 100%;
            /* min-width protects the integrity of the screen in the event
                    the screen is smaller than the smallest device supperted at 320px. */
            min-width: 300px;
            /* This padding makes the right side padding the same as the left. */
            padding-right: 20px;
            padding-left: 20px;
        }
    </style>

    <div class="modal-header">
        <h3>Apps</h3>
        <button style="position: absolute; top: 30px; right: 20px; font-size: large;" class="btn btn-warning pull-right" ng-click="close()">Close</button>
    </div>

    <!-- Icons - We are using Font Awesome icons.
        fa - is required to make Font Awesome work.
        fa-lg - sets the size of the icons to large.
        fa-fw - set the icons to fixed with so they will aline better.
        fa-[name of font]
        list-group-itme - from bootstrap, allows a list of controls to become a clickable group. TODO: Fix this explaination. Lame.
        menu-butn - css script for this page, gives a border to the buttons so you can see them before highlighting them.
        row & col-sm-4 - defines the bootstrap fluid-grid.  This will allow for some responsiveness when the screen gets small.
        TODO: Add more resonsiveness to remove the <p> seconds when below some limit, or cause the text to elipse.
         -->
    <!-- TODO: I only want a single listener and not one placed on each controls click event. -->
    <!--Dynamic loading menu-->
    <div class="panel-group" id="dynamicMenu">
        <div class="panel panel-default" ng-repeat="category in menuJson">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#dynamicMenu" data-target="#collapse{{category.name}}">
                        <i class="fa fa-lg fa-fw {{category.icon}}"></i> {{category.name}}
                    </a>
                </h4>
            </div>
            <div id="collapse{{category.name}}" class="panel-collapse collapse" ng-class="{ 'in': $first }">
                <div class="panel-body" ng-click="close()">

                    <div class="row">

                        <div class="col-sm-4" ng-repeat="menuitem in category.groups">
                            <a href="#{{menuitem.url}}" class="list-group-item vp-menu-btn">
                                <i class="fa fa-lg fa-fw {{menuitem.icon}}"></i><span class="h4">{{menuitem.name}}</span>
                                <p class="list-group-item-text">{{menuitem.desc}}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="modal-footer">
    <button style=" font-size: large;" class="btn btn-warning" ng-click="close()">Close</button>
</div>


